ForDeployingInAxis2/FilreSequencesWS/CreatingServicejars/filterSequences.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsannotations.ctegd.uga.edu/services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsannotations.ctegd.uga.edu/services/" name="filterSequences">
<types>
<xs:schema xmlns:tns="http://wsannotations.ctegd.uga.edu/services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsannotations.ctegd.uga.edu/services/">

<xs:element name="ImproperInputsFault" nillable="true" type="tns:fault"/>

<xs:element name="filterByEvalScore" type="tns:filterByEvalScore"/>

<xs:element name="filterByEvalScoreCSV" type="tns:filterByEvalScoreCSV"/>

<xs:element name="filterByEvalScoreCSVResponse" type="tns:filterByEvalScoreCSVResponse"/>

<xs:element name="filterByEvalScoreResponse" type="tns:filterByEvalScoreResponse"/>

<xs:complexType name="filterByEvalScore">
<xs:sequence>
<xs:element name="evaluesArray" type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="evalueCutoff" type="xs:double" minOccurs="0"/>
<xs:element name="scoresArray" type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="scoreCutoff" type="xs:double" minOccurs="0"/>
<xs:element name="sequences" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filterByEvalScoreResponse">
<xs:sequence>
<xs:element name="FilteredSequences" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fault">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filterByEvalScoreCSV">
<xs:sequence>
<xs:element name="evaluesCSV" type="xs:string" minOccurs="0"/>
<xs:element name="evalueCutoff" type="xs:double" minOccurs="0"/>
<xs:element name="scoresCSV" type="xs:string" minOccurs="0"/>
<xs:element name="scoreCutoff" type="xs:double" minOccurs="0"/>
<xs:element name="sequences" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filterByEvalScoreCSVResponse">
<xs:sequence>
<xs:element name="FilteredSequences" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</types>
<message name="filterByEvalScoreCSV">
<part name="parameters" element="tns:filterByEvalScoreCSV"/>
</message>
<message name="filterByEvalScoreCSVResponse">
<part name="parameters" element="tns:filterByEvalScoreCSVResponse"/>
</message>
<message name="ImproperInputsFault">
<part name="fault" element="tns:ImproperInputsFault"/>
</message>
<message name="filterByEvalScore">
<part name="parameters" element="tns:filterByEvalScore"/>
</message>
<message name="filterByEvalScoreResponse">
<part name="parameters" element="tns:filterByEvalScoreResponse"/>
</message>
<portType name="filterSequences">
<operation name="filterByEvalScoreCSV">
<input wsam:Action="http://wsannotations.ctegd.uga.edu/services/filterSequences/filterByEvalScoreCSVRequest" message="tns:filterByEvalScoreCSV"/>
<output wsam:Action="http://wsannotations.ctegd.uga.edu/services/filterSequences/filterByEvalScoreCSVResponse" message="tns:filterByEvalScoreCSVResponse"/>
<fault message="tns:ImproperInputsFault" name="ImproperInputsFault" wsam:Action="http://wsannotations.ctegd.uga.edu/services/filterSequences/filterByEvalScoreCSV/Fault/ImproperInputsFault"/>
</operation>
<operation name="filterByEvalScore">
<input wsam:Action="http://wsannotations.ctegd.uga.edu/services/filterSequences/filterByEvalScoreRequest" message="tns:filterByEvalScore"/>
<output wsam:Action="http://wsannotations.ctegd.uga.edu/services/filterSequences/filterByEvalScoreResponse" message="tns:filterByEvalScoreResponse"/>
<fault message="tns:ImproperInputsFault" name="ImproperInputsFault" wsam:Action="http://wsannotations.ctegd.uga.edu/services/filterSequences/filterByEvalScore/Fault/ImproperInputsFault"/>
</operation>
</portType>
<binding name="FilterSequencesPortBinding" type="tns:filterSequences">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="filterByEvalScoreCSV">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ImproperInputsFault">
<soap:fault name="ImproperInputsFault" use="literal"/>
</fault>
</operation>
<operation name="filterByEvalScore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ImproperInputsFault">
<soap:fault name="ImproperInputsFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="filterSequences">
<port name="FilterSequencesPort" binding="tns:FilterSequencesPortBinding">
<soap:address location="http://localhost:8080/UtilityWS/filterSequences"/>
</port>
</service>
</definitions>
