ForDeployingInAxis2/ConverterWSasAAR/WSDLs/AutoGenerated/converters.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://converters" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://converters">
    <wsdl:documentation>converters</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://converters">
            <xs:element name="decode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="base64" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="decodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="encode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="encodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="arraytoCSV">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="arrayofString" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="arraytoCSVResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="csvtoArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="csv" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="csvtoArrayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="decodeRequest">
        <wsdl:part name="parameters" element="ns:decode"/>
    </wsdl:message>
    <wsdl:message name="decodeResponse">
        <wsdl:part name="parameters" element="ns:decodeResponse"/>
    </wsdl:message>
    <wsdl:message name="csvtoArrayRequest">
        <wsdl:part name="parameters" element="ns:csvtoArray"/>
    </wsdl:message>
    <wsdl:message name="csvtoArrayResponse">
        <wsdl:part name="parameters" element="ns:csvtoArrayResponse"/>
    </wsdl:message>
    <wsdl:message name="encodeRequest">
        <wsdl:part name="parameters" element="ns:encode"/>
    </wsdl:message>
    <wsdl:message name="encodeResponse">
        <wsdl:part name="parameters" element="ns:encodeResponse"/>
    </wsdl:message>
    <wsdl:message name="arraytoCSVRequest">
        <wsdl:part name="parameters" element="ns:arraytoCSV"/>
    </wsdl:message>
    <wsdl:message name="arraytoCSVResponse">
        <wsdl:part name="parameters" element="ns:arraytoCSVResponse"/>
    </wsdl:message>
    <wsdl:portType name="convertersPortType">
        <wsdl:operation name="decode">
            <wsdl:input message="ns:decodeRequest" wsaw:Action="urn:decode"/>
            <wsdl:output message="ns:decodeResponse" wsaw:Action="urn:decodeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="csvtoArray">
            <wsdl:input message="ns:csvtoArrayRequest" wsaw:Action="urn:csvtoArray"/>
            <wsdl:output message="ns:csvtoArrayResponse" wsaw:Action="urn:csvtoArrayResponse"/>
        </wsdl:operation>
        <wsdl:operation name="encode">
            <wsdl:input message="ns:encodeRequest" wsaw:Action="urn:encode"/>
            <wsdl:output message="ns:encodeResponse" wsaw:Action="urn:encodeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="arraytoCSV">
            <wsdl:input message="ns:arraytoCSVRequest" wsaw:Action="urn:arraytoCSV"/>
            <wsdl:output message="ns:arraytoCSVResponse" wsaw:Action="urn:arraytoCSVResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="convertersSoap11Binding" type="ns:convertersPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="decode">
            <soap:operation soapAction="urn:decode" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="csvtoArray">
            <soap:operation soapAction="urn:csvtoArray" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="encode">
            <soap:operation soapAction="urn:encode" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="arraytoCSV">
            <soap:operation soapAction="urn:arraytoCSV" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="convertersSoap12Binding" type="ns:convertersPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="decode">
            <soap12:operation soapAction="urn:decode" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="csvtoArray">
            <soap12:operation soapAction="urn:csvtoArray" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="encode">
            <soap12:operation soapAction="urn:encode" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="arraytoCSV">
            <soap12:operation soapAction="urn:arraytoCSV" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="convertersHttpBinding" type="ns:convertersPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="decode">
            <http:operation location="decode"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="csvtoArray">
            <http:operation location="csvtoArray"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="encode">
            <http:operation location="encode"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="arraytoCSV">
            <http:operation location="arraytoCSV"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="converters">
        <wsdl:port name="convertersHttpSoap11Endpoint" binding="ns:convertersSoap11Binding">
            <soap:address location="http://wsannotations.ctegd.uga.edu/axis2/services/converters.convertersHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="convertersHttpSoap12Endpoint" binding="ns:convertersSoap12Binding">
            <soap12:address location="http://wsannotations.ctegd.uga.edu/axis2/services/converters.convertersHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="convertersHttpEndpoint" binding="ns:convertersHttpBinding">
            <http:address location="http://wsannotations.ctegd.uga.edu/axis2/services/converters.convertersHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
